[submodule ".zsh.d/dircolors-solarized"]
	path = .zsh.d/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
